@inherits LayoutComponentBase
@using InterviewGeneratorBlazorHybrid.Components.Shared

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="top-row px-4 d-flex justify-content-between align-items-center">
            <span class="navbar-brand mb-0 h1">Interview Generator</span>
            <NavButtons />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


