@page "/settings"
@using InterviewGeneratorBlazorHybrid.Data

@inject NavigationManager NavigationManager
@inject AppDbContextFactory ContextFactory

<h3>Interview Generator Settings</h3>

<p><span class="alert-warning">@GeneralMessage</span></p>
<p><span class="alert-danger">@ErrorMessage</span></p>
<p><span class="alert-success">@SuccessMessage</span></p>

<p>Current Database: <b>@DisplayPath</b></p>
<div class="container text-center my-5">
    <div class="d-flex justify-content-between px-5" role="group" aria-label="Database options">
        <button class="btn btn-success flex-fill mx-2">Add New Database</button>
        <button class="btn btn-success flex-fill mx-2" @onclick="SelectDifferentDatabase">Select A Current Database</button>
        <button class="btn btn-success flex-fill mx-2">Create Sample Database</button>
    </div>
</div>


